<!--FOOTER-->
  <div id="footer">
    <footer>
      <table style="width:100%">
      <tr>
        <td style="width:10%">
        <!--SEARCH-->
            <search-input>
                  <img ng-src="{{searchIcon}}" alt="Search Icon" height="25" width="25" id="searchIcon"/>
            </search-input>
        <!--END SEARCH-->
        </td>
        <td style="width:80%">
        <!--LOGO-->
            <logo>
                <a>
                  <h3>{{contact}}</h3>
                </a>
            </logo>
        </td>
        <!--END LOGO-->
        <td style="width:10%">
          <!--NAV BAR-->
            <nav-bar>
                <img ng-src="{{menuIcon}}" alt="Menu Icon" height="25" width="25" id="menuIcon"/>
            </nav-bar>
          <!--END NAV BAR-->
          </td>
        </tr>
      </table>
    </footer>
  </div>
<!--END FOOTER-->
