<div>
<!--HEADER-->
<div id="row1">
  <header>
    <table style="width:100%">
      <tr>
        <td style="width:10%">
        <!--SEARCH-->
          <search-input>
                  <img ng-src="{{searchIcon}}" ng-mouseover="showme = showme ? false : true" ng-click="showme = true" alt="Search Icon" height="50" width="50" id="searchIcon"/>
          </search-input>
        <!--END SEARCH-->
        </td>
        <td style="width:80%">
        <!--LOGO-->
            <logo>
                <a href="">
                  <h1 id="logo">{{logo}}</h1>
                </a>
            </logo>
        <!--END LOGO-->
        </td>
        <td style="width:10%">
        <!--NAV BAR-->
            <nav-bar>
                <img ng-src="{{menuIcon}}" alt="Menu Icon" height="50" width="50" id="menuIcon2"/>
            </nav-bar>
        <!--END NAV BAR-->
        </td>
      </tr>
    </table>
  </header>
</div>
<!--END HEADER-->

<!--HOVER OVER SEARCH ICON-->
<searchBar ng-show="showme">
  <div class="col-sm-6" id="searchBar">
    <div class="input-group">
      <input type="text" ng-model="searchList" class="form-control" placeholder="search list by headline">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="showme=false">Go!</button>
      </span>
    </div>
  </div>
</searchBar>
<!--HOVER OVER SEARCH ICON-->


<!--HOVER OVER MENU ICON-->
<menuDropDown id="menuDropDown2" ng-controller="logoutController">
<div class="menu-wrap">
    <nav class="menu">
        <ul class="clearfix">
            <li><a href="#"></a></li>
            <li>
                <a href="#"><nav-bar></nav-bar></a>
                <ul class="sub-menu">
                    <li ng-click="logout()"><a href="#/login">Logout</a></li>
                    <li><a href="#/search">Search</a></li>
                    <li><a href="#/list">My List</a></li>
                    <li><a href="#/recommended" ng-click='loadfeed("https://denver.craigslist.org/search/sof?format=rss")'>Feed</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
</menuDropDown>
<!--END HOVER OVER MENU ICON-->


</div>
