<div>
<!--HEADER-->
<div id="row1">
  <header>
    <table style="width:100%">
      <tr>
        <td style="width:90%">
        <!--LOGO-->
            <logo>
                <a href="/#/login">
                  <h1 id="logoMain">{{logo}}</h1>
                </a>
            </logo>
        </td>
        <!--END LOGO-->
        <td style="width:10%">
        <!--NAV BAR-->
            <nav-bar ng-mouseover="mainMenu=true">
                <img ng-src="{{menuIcon}}" alt="Menu Icon" height="50" width="50" id="menuIcon"/>
            </nav-bar>
        <!--END NAV BAR-->
        </td>
      </tr>
    </table>
  </header>
</div>
<!--END HEADER-->


<!--HOVER OVER MENU ICON-->
<!-- <menuDropDown id="menuDropDown">
<ul class="dropdown-menu" role="menu" aria-labellededby="dropdownMenu">
    <li><a tabindex="-1" href="#">Regular link</a></li>
    <li><a tabindex="-1" href="#">Regular link</a></li>
    <li><a tabindex="-1" href="#">Regular link</a></li>
  </ul>
</menuDropDown> -->
<!--HOVER OVER MENU ICON-->

<!--HOVER OVER MENU ICON-->
<menuDropDown id="menuDropDown" ng-show="mainMenu" ng-mouseleave="mainMenu=false">
<div class="menu-wrap">
    <nav class="menu">
        <ul class="clearfix">
            <li><a href="#"></a></li>
            <li>
                <a href="#"><nav-bar>
                <!-- <img ng-src="{{menuIcon}}" alt="Menu Icon" height="50" width="50" id="menuIcon2"/> -->
            </nav-bar></a>

                <ul class="sub-menu">
                    <li><a href="#/login">Login</a></li>
                    <li><a href="#/register">Register</a></li>
                    <li><a href="#/about">About</a></li>
                    <li><a href="#/contact">Contact</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
</menuDropDown>
<!--HOVER OVER MENU ICON-->

</div>
