<div>
    <div ng-include="'partials/header2.html'"></div>
    <!--ROW 2/ LISTS-->
    <div ng-include="'partials/lists.html'"></div>
    <!--END ROW 2/ LISTS-->
    <!-- <table style="width:100%">
        <tr>
            <td style="width:65%">
                <p>
                <h3>First Recommended one</h3></p>
                {{fillerText}}
            </td>
            <td>
                <img ng-src="{{urlImage}}" alt="Menu Icon" height="150px" style="padding-top:20px;"/>
            </td>
        </tr>
    </table>
    -->
    <div id="content"></div>
</div>
