body {
    background-image: url("");
    background: no-repeat fixed center center;
    background-size: cover;
    font-family: Montserrat;
}

a {
  text-decoration: none !important;
  color: black;
}

p {

}

h1 {
  text-align: center;
}


h2 {
  text-align: center;
}

h4 {
  text-align: center;
}

td {
  vertical-align: bottom;
  padding: 10px;
}


input {
  border-radius: 10px;
}

ul {
  list-style: none;
}

#logo {
  color: #088A68;
}

#logo:hover {
  color: #075741;
}

#logoMain {
  color: #088A68;
  text-align: left;
  padding-left: 30px;
}

#logoMain:hover {
  color: #075741;
}

#row1 {
  position: fixed;
  width: 100%;
  top: 0px;
  height: 100px;
  background: white;
  z-index: 2;
}

#row2 {
  position: fixed;
  width: 100%;
  top: 80px;
  left: -30px;
  height: 60px;
  background: white;
  z-index: 2;
}

#mainBody {
  margin-top: 150px;
  padding: 30px;
}

#loginPage {
  position: fixed;
  margin-right: auto;
  margin-left: auto;
  margin-top: -50px;
}

#mylist {
  position: fixed;
  margin-top: 30px;
}


#searchIcon:hover {
  -webkit-transform: rotate(180deg);
    transform: rotate(90deg);
}

#searchIcon {
  margin-left: -10px;
}

#searchBar {
  position: fixed;
  margin-top: -113px;
  margin-left: 25px;
  width: 80%;
  z-index: 7;
}

#urlBar {
  position: fixed;
  margin-top: -40px;
  width: 94%;
  right: 3%;
  left: 3%;
  text-align: center;
  z-index: 4;
}

#menuIcon {
  margin-right: 30px;
}

#menuIcon2 {
  margin-right: 55px;
}

#menuIcon:hover {
  -webkit-transform: rotate(180deg);
    transform: rotate(-90deg);
}

#menuIcon2:hover {
  -webkit-transform: rotate(180deg);
    transform: rotate(-90deg);
}

#menuDropDown {
  position: fixed;
  z-index: 5;
}

#menuDropDown2 {
  position: fixed;
  z-index: 7;
}

#addAvoid {
  margin: 0;
  padding: 0;
}

#searchOptions {
  min-width: 350px;
  max-width: 400px;
  background-color: white;
  padding: 10px;
  box-shadow:0px 4px 6px rgba(0,0,0,0.6);
  border-radius: 25px
}

/*buttons for option page*/
#addBtn {
  background: #318736;
  background-image: -webkit-linear-gradient(top, #318736, #1a7825);
  background-image: -moz-linear-gradient(top, #318736, #1a7825);
  background-image: -ms-linear-gradient(top, #318736, #1a7825);
  background-image: -o-linear-gradient(top, #318736, #1a7825);
  background-image: linear-gradient(to bottom, #318736, #1a7825);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  -webkit-box-shadow: 0px 1px 1px #666666;
  -moz-box-shadow: 0px 1px 1px #666666;
  box-shadow: 0px 1px 1px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 0px 5px 0px 5px;
  text-decoration: none;
}

#addBtn:hover {
  background: #20c443;
  background-image: -webkit-linear-gradient(top, #20c443, #1b9433);
  background-image: -moz-linear-gradient(top, #20c443, #1b9433);
  background-image: -ms-linear-gradient(top, #20c443, #1b9433);
  background-image: -o-linear-gradient(top, #20c443, #1b9433);
  background-image: linear-gradient(to bottom, #20c443, #1b9433);
  text-decoration: none;
}

#avoidBtn {
  background: #c40606;
  background-image: -webkit-linear-gradient(top, #c40606, #731111);
  background-image: -moz-linear-gradient(top, #c40606, #731111);
  background-image: -ms-linear-gradient(top, #c40606, #731111);
  background-image: -o-linear-gradient(top, #c40606, #731111);
  background-image: linear-gradient(to bottom, #c40606, #731111);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  -webkit-box-shadow: 0px 1px 1px #666666;
  -moz-box-shadow: 0px 1px 1px #666666;
  box-shadow: 0px 1px 1px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 0px 5px 0px 5px;
  text-decoration: none;
}

#avoidBtn:hover {
  background: #ff3838;
  background-image: -webkit-linear-gradient(top, #ff3838, #cc0000);
  background-image: -moz-linear-gradient(top, #ff3838, #cc0000);
  background-image: -ms-linear-gradient(top, #ff3838, #cc0000);
  background-image: -o-linear-gradient(top, #ff3838, #cc0000);
  background-image: linear-gradient(to bottom, #ff3838, #cc0000);
  text-decoration: none;
}

#deleteBtn {
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  -webkit-box-shadow: 0px 1px 1px #666666;
  -moz-box-shadow: 0px 1px 1px #666666;
  box-shadow: 0px 1px 1px #666666;
  font-family: Arial;
  color: #000000;
  font-size: 20px;
  background: #dbdede;
  padding: 0px 5px 0px 5px;
  text-decoration: none;
}

#deleteBtn:hover {
  background: #ffffff;
  text-decoration: none;
}

/* END buttons for option page*/

/*@media #row3 {
  position: absolute;
  width: 100%;
  top: 160px;
}*/
