body {
  background: white;
  margin: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none !important;
  color: black;
}

a:link {
  color: green;
}

a:hover {
  color: blue;
}

p {

}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

td {
  padding: 10px;
}

#row1 {
  position: fixed;
  width: 100%;
  top: 0px;
  height: 100px;
  background: white;
  z-index: 2;
}

#row2 {
  position: fixed;
  width: 100%;
  top: 80px;
  height: 60px;
  background: white;
  z-index: 2;
}

#mainBody {
  margin-top: 150px;
}

#welcomePage {
  position: inline-block;
  height: 300px;
  text-align: center;
  vertical-align: center;
}

#searchIcon:hover {
  -webkit-transform: rotate(180deg);
    transform: rotate(90deg);
}

#menuIcon {
  margin-right: 30px;
}

#menuIcon:hover {
  -webkit-transform: rotate(180deg);
    transform: rotate(-90deg);
}


/*@media #row3 {
  position: absolute;
  width: 100%;
  top: 160px;
}*/
