<div>
<!--HEADER-->
<div id="row1">
  <header>
    <table style="width:100%">
      <tr>
        <td style="width:10%">
        <!--SEARCH-->
            <search-input>
                    <img ng-src="{{searchIcon}}" alt="Search Icon" height="50" width="50" id="searchIcon"/>
            </search-input>
        <!--END SEARCH-->
        </td>
        <td style="width:80%">
        <!--LOGO-->
            <logo>
                <a href="/#/login">
                  <h1 id="logo">{{logo}}</h1>
                </a>
            </logo>
        </td>
        <!--END LOGO-->
        <td style="width:10%">
        <!--NAV BAR-->
            <nav-bar>
                <img ng-src="{{menuIcon}}" alt="Menu Icon" height="50" width="50" id="menuIcon"/>
            </nav-bar>
        <!--END NAV BAR-->
        </td>
      </tr>
    </table>
  </header>
</div>
<!--END HEADER-->

<!--HOVER OVER SEARCH ICON-->
<searchBar>
  <div class="col-sm-6" id="searchBar">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="search job headlines">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
  </div>
</searchBar>
<!--HOVER OVER SEARCH ICON-->


<!--HOVER OVER MENU ICON-->
<!-- <menuDropDown id="menuDropDown">
  <
<ul class="dropdown-menu" role="menu" aria-labellededby="dropdownMenu"> -->
<!--     <li><a tabindex="-1" href="#">Regular link</a></li>
    <li><a tabindex="-1" href="#">Regular link</a></li>
    <li><a tabindex="-1" href="#">Regular link</a></li>
  </ul>
</searchBar> -->
<!--HOVER OVER MENU ICON-->

</div>
