<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>Job Pocket</title>

  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

</head>

<body ng-controller="myController">

<!--HEADER-->
<div id="row1">
  <header>
    <table style="width:100%">
      <tr>
        <td style="width:10%">
        <!--SEARCH-->
            <search-input>
                  <img ng-src="{{searchIcon}}" alt="Search Icon" height="50" width="50" id="searchIcon"/>
            </search-input>
        <!--END SEARCH-->
        </td>
        <td style="width:80%">
        <!--LOGO-->
            <logo>
                <a>
                  <h1>{{logo}}</h1>
                </a>
            </logo>
        </td>
        <!--END LOGO-->
        <td style="width:10%">
        <!--NAV BAR-->
            <nav-bar>
                <img ng-src="{{menuIcon}}" alt="Menu Icon" height="50" width="50" id="menuIcon"/>
            </nav-bar>
        <!--END NAV BAR-->
        </td>
      </tr>
</table>
  </header>
</div>
<!--END HEADER-->


<!--ROW 2/ LISTS-->
<div id="row2">
  <lists></lists>
</div>
<!--END ROW 2/ LISTS-->


<!-- MAIN BODY -->
<div id="mainBody">

    <!-- LOGIN/ WELCOME PAGE -->
    <div id="welcomePage" ng-hide="true">
        <h1>welcome to job pocket!</h1>
        <login></login>
    </div>
    <!-- END LOGIN/ WELCOME PAGE -->

    <!-- SEARCH OPTIONS PAGE -->
    <div id="searchOptionContainer" ng-hide="true">
        <search-options></search-options>
    </div>
    <!-- END SEARCH OPTIONS PAGE -->

    <!--MY LIST PAGE-->
    <div id="myListContainer"  ng-hide="false">
        <my-list>
              <table style="width:100%">
                  <tr>
                      <td style="width:30%">
                        <img ng-src="{{urlImage}}" alt="Menu Icon" height="90%" width="90%"/>
                      </td>
                      <td>
                        <p><h3>First one</h3></p>
                        {{fillerText}}
                      </td>
                  </tr>
                  <tr>
                      <td style="width:30%">
                        <img ng-src="{{urlImage}}" alt="Menu Icon" height="90%" width="90%"/>
                      </td>
                      <td>
                        <p><h3>{{headLine}}</h3></p>
                        {{fillerText}}
                      </td>
                  </tr>
                  <tr>
                      <td style="width:30%">
                        <img ng-src="{{urlImage}}" alt="Menu Icon" height="90%" width="90%" />
                      </td>
                      <td>
                        <p><h3>{{headLine}}</h3></p>
                        {{fillerText}}
                      </td>
                  </tr>
                  <tr>
                      <td style="width:30%">
                        <img ng-src="{{urlImage}}" alt="Menu Icon" height="90%" width="90%"/>
                      </td>
                      <td>
                        <p><h3>{{headLine}}</h3></p>
                        {{fillerText}}
                      </td>
                  </tr>
                  <tr>
                      <td style="width:30%">
                        <img ng-src="{{urlImage}}" alt="Menu Icon" height="90%" width="90%"/>
                      </td>
                      <td>
                        <p><h3>{{headLine}}</h3></p>
                        {{fillerText}}
                      </td>
                  </tr>
                  <tr>
                      <td style="width:30%">
                        <img ng-src="{{urlImage}}" alt="Menu Icon" height="90%" width="90%"/>
                      </td>
                      <td>
                        <p><h3>{{headLine}}</h3></p>
                        {{fillerText}}
                      </td>
                  </tr>
                  <tr>
                      <td style="width:30%">
                        <img ng-src="{{urlImage}}" alt="Menu Icon" height="90%" width="90%"/>
                      </td>
                      <td>
                        <p><h3>{{headLine}}</h3></p>
                        {{fillerText}}
                      </td>
                  </tr>
                  <tr>
                      <td style="width:30%">
                        <img ng-src="{{urlImage}}" alt="Menu Icon" height="90%" width="90%"/>
                      </td>
                      <td>
                        <p><h3>{{headLine}}</h3></p>
                        {{fillerText}}
                      </td>
                  </tr>
</table>
        </my-list>
    </div>
    <!--END MY LIST-->

    <!--RECOMMENDATIONS PAGE-->
    <div id="recommendationsContainer" ng-hide="true">
        <recommended></recommended>
    </div>
    <!--END RECOMMENDATIONS PAGE-->

</div>
<!-- END MAIN BODY -->



<!--FOOTER-->
  <div id="footerContainer">
    <footer>
      <table style="width:100%">
      <tr>
        <td style="width:10%">
        <!--SEARCH-->
            <search-input>
                  <img ng-src="{{searchIcon}}" alt="Search Icon" height="25" width="25" id="searchIcon"/>
            </search-input>
        <!--END SEARCH-->
        </td>
        <td style="width:80%">
        <!--LOGO-->
            <logo>
                <a>
                  <h3>{{contact}}</h3>
                </a>
            </logo>
        </td>
        <!--END LOGO-->
        <td style="width:10%">
          <!--NAV BAR-->
            <nav-bar>
                <img ng-src="{{menuIcon}}" alt="Menu Icon" height="25" width="25" id="menuIcon"/>
            </nav-bar>
          <!--END NAV BAR-->
          </td>
        </tr>
      </table>
    </footer>
  </div>
<!--END FOOTER-->


  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="../js/app.js" type="text/javascript"></script>
  <script src="../js/controllers.js" type="text/javascript"></script>
  <script src="../js/directives.js" type="text/javascript"></script>
  <script src="../js/filters.js" type="text/javascript"></script>
  <script src="../js/services.js" type="text/javascript"></script>
</body>
</html>
