
<table style="width:100%">
                  <tr>
                      <td style="width:30%">
                        <img ng-src="{{urlImage}}" alt="Menu Icon" height="100%" width="100%"/>
                      </td>
                      <td>
                        <p><h3>First one</h3></p>
                        {{fillerText}}
                      </td>
                  </tr>
                  <tr>
                      <td style="width:30%">
                        <img ng-src="{{urlImage}}" alt="Menu Icon" height="100%" width="100%"/>
                      </td>
                      <td>
                        <p><h3>{{headLine}}</h3></p>
                        {{fillerText}}
                      </td>
                  </tr>
                  <tr>
                      <td style="width:30%">
                        <img ng-src="{{urlImage}}" alt="Menu Icon" height="100%" width="100%"/>
                      </td>
                      <td>
                        <p><h3>{{headLine}}</h3></p>
                        {{fillerText}}
                      </td>
                  </tr>
                  <tr>
                      <td style="width:30%">
                        <img ng-src="{{urlImage}}" alt="Menu Icon" height="100%" width="100%"/>
                      </td>
                      <td>
                        <p><h3>{{headLine}}</h3></p>
                        {{fillerText}}
                      </td>
                  </tr>
                  <tr>
                      <td style="width:30%">
                        <img ng-src="{{urlImage}}" alt="Menu Icon" height="100%" width="100%"/>
                      </td>
                      <td>
                        <p><h3>{{headLine}}</h3></p>
                        {{fillerText}}
                      </td>
                  </tr>
                  <tr>
                      <td style="width:30%">
                        <img ng-src="{{urlImage}}" alt="Menu Icon" height="100%" width="100%"/>
                      </td>
                      <td>
                        <p><h3>{{headLine}}</h3></p>
                        {{fillerText}}
                      </td>
                  </tr>
                  <tr>
                      <td style="width:30%">
                        <img ng-src="{{urlImage}}" alt="Menu Icon" height="100%" width="100%"/>
                      </td>
                      <td>
                        <p><h3>{{headLine}}</h3></p>
                        {{fillerText}}
                      </td>
                  </tr>
                  <tr>
                      <td style="width:30%">
                        <img ng-src="{{urlImage}}" alt="Menu Icon" height="100%" width="100%"/>
                      </td>
                      <td>
                        <p><h3>{{headLine}}</h3></p>
                        {{fillerText}}
                      </td>
                  </tr>
</table>

