<div id="searchOptions">
    <table>
      <tr>
        <td>
            <h4>
              Key words: <input type="search" name="keyWords" placeholder="enter key words here">
            </h4>
        <td>
          <ul id="addAvoid">
            <li style="color:green" id="add">
                  <span class="glyphicon glyphicon-plus"  id="addBtn"></span>
            </li>

            <li style="color:black" id="avoid">
                <span class="glyphicon glyphicon-minus" id="avoidBtn"></span>
            </li>
          </ul>
        </td>
      </tr>
    </table>
    <table>
      <tr>
        <td>
          <ul style="color:black" id="addList">
            <h4>Add List</h5>
              <h5>
                <li>
                  <span class="glyphicon glyphicon-plus" id="addBtn"></span>
                  html
                  <span style="color:black" class="glyphicon glyphicon-remove"></span>
                </li>
              </h5>
              <h5>
                <li>
                  <span class="glyphicon glyphicon-plus" id="addBtn"></span>
                  javascript
                  <span style="color:black" class="glyphicon glyphicon-remove"></span>
                </li>
              </h5>
          </ul>
        </td>
        <td>
          <ul style="color:black" id="avoidList">
            <h4>Avoid List</h4>
              <h5>
                <li>
                  <span class="glyphicon glyphicon-minus" id="avoidBtn"></span>
                  salesforce
                  <span style="color:black" class="glyphicon glyphicon-remove deleteBtn"></span>
                </li>
              </h5>
              <h5>
                <li>
                  <span class="glyphicon glyphicon-minus" id="avoidBtn"></span>
                  ruby
                  <span style="color:black" class="glyphicon glyphicon-remove"></span>
                </li>
              </h5>
          </ul>
        </td>
      </tr>
      <tr
      <tr>
        <td>
          <button class="btn btn-success" type="apply">Apply Changes</button>
        </td>
      </tr>
    </table>
</div>
